<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperação de senha</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" size="small" fill="outline" shape="round">
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- EMAIL -->
  <form [formGroup]="emailForm" (ngSubmit)="sendEmail()" *ngIf="emailStep" novalidate>
    <ion-grid>
      <h1 class="title">Informe o seu email</h1>
      <ion-row class="input">
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="mail-outline"></ion-icon>&nbsp;
              Email
            </ion-label>
            <ion-input type="email" name="email" formControlName="email" required></ion-input>
          </ion-item>
          <div *ngIf="this.emailForm.controls['email'].touched && this.emailForm.controls['email'].invalid">
            <div class="error" *ngIf="errorControlEmail['email'].errors?.['required']">
              <ion-text class="error_text" color="danger">Email é obrigatório.</ion-text>
            </div>
            <div class="error" *ngIf="errorControlEmail['email'].errors?.['email']">
              <ion-text class="error_text" color="danger">Informe um email válido.</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="sendEmail()">
            Enviar código
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- CODE -->
  <form [formGroup]="codeForm" (ngSubmit)="sendCode()" *ngIf="codeStep" novalidate>
    <ion-grid>
      <h1 class="title">Informe o código enviado para o seu email</h1>
      <ion-row class="input">
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;
              Código
            </ion-label>
            <ion-input type="text" name="code" formControlName="code" required></ion-input>
          </ion-item>
          <div *ngIf="this.codeForm.controls['code'].touched && this.codeForm.controls['code'].invalid">
            <div class="error" *ngIf="errorControlCode['code'].errors?.['required']">
              <ion-text class="error_text" color="danger">Informe um código válido.</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="sendCode()">
            Confirmar código
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- RESET PASSWORD -->
  <form [formGroup]="passwordForm" (ngSubmit)="sendRecovery()" *ngIf="recoveryStep" novalidate>
    <ion-grid>
      <h1 class="title">Recuperação de senha</h1>
      <ion-row class="input">
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
              Senha
            </ion-label>
            <ion-input name="password" [type]="showPwd1 ? 'text' : 'password'" formControlName="password" required></ion-input>
            <ion-icon style="margin-top: 17px;" slot="end" [name]="pwdIcon1" (click)="togglePwd1()"></ion-icon>
          </ion-item>
          <div *ngIf="this.passwordForm.controls['password'].touched && this.passwordForm.controls['password'].invalid">
            <div class="error" *ngIf="errorControlPassword['password'].errors?.['required']">
              <ion-text class="error_text" color="danger">Senha é obrigatória.</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="input">
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
              Senha
            </ion-label>
            <ion-input name="confirmPassword" [type]="showPwd2 ? 'text' : 'password'" formControlName="confirmPassword" required></ion-input>
            <ion-icon style="margin-top: 17px;" slot="end" [name]="pwdIcon2" (click)="togglePwd2()"></ion-icon>
          </ion-item>
          <div *ngIf="(this.passwordForm.controls['confirmPassword'].touched &&
                       this.passwordForm.controls['confirmPassword'].invalid) ||
                       this.passwordForm.errors">
            <div class="error" *ngIf="errorControlPassword['confirmPassword'].errors?.['required']">
              <ion-text class="error_text" color="danger">Senha é obrigatória.</ion-text>
            </div>
            <div class="error" *ngIf="this.passwordForm.errors?.['passwordIsNotEquals'] &&
                                      !errorControlPassword['confirmPassword'].errors?.['required']">
              <ion-text class="error_text" color="danger">As senhas informadas divergem.</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="sendRecovery()" type="submit" id="btn-login">
            Acessar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-loading
  [isOpen]="loading"
  [message]="'Aguarde...'">
</ion-loading>
</ion-content>