<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperação de senha</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" size="small" fill="outline" shape="round">
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="emailStep">
    <h1 class="title">Informe o seu email</h1>
    <ion-row class="input">
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon>&nbsp;
            Email
          </ion-label>
          <ion-input type="email" name="email" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="sendEmail()">
          Enviar código
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="codeStep">
    <h1 class="title">Informe o código enviado para o seu email</h1>
    <ion-row class="input">
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;
            Código
          </ion-label>
          <ion-input type="email" name="email" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="sendCode()">
          Confirmar código
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="recoveryStep">
    <h1 class="title">Recuperação de senha</h1>
    <ion-row class="input">
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
            Senha
          </ion-label>
          <ion-input name="password" [type]="showPwd1 ? 'text' : 'password'"
            required></ion-input>
          <ion-icon style="margin-top: 17px;" slot="end" [name]="pwdIcon1" (click)="togglePwd1()"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="input">
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
            Senha
          </ion-label>
          <ion-input name="password" [type]="showPwd2 ? 'text' : 'password'"
            required></ion-input>
          <ion-icon style="margin-top: 17px;" slot="end" [name]="pwdIcon2" (click)="togglePwd2()"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>


<!--     <ion-row class="input">
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon>&nbsp;
            Email
          </ion-label>
          <ion-input type="email" name="email" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-button (click)="sendRecovery()" type="submit" id="btn-login">
          Acessar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

