<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperação de senha</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" size="small" fill="outline" shape="round">
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row class="input">
    <ion-col>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="mail-outline"></ion-icon>&nbsp;
          Email
        </ion-label>
        <ion-input type="email" name="email" required></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
