ion-grid {
  font-family: var(--primary-font);
  padding: 40% 0 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.custom-input {
  width: 100%;
}

.input {
  width: 80%;
}

.access-button {
  margin: 10px 0 20px 0;
}

.error_text {
  font-size: 14px;
}
