<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/views/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="scheduling" href="/views/scheduling">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Agendamentos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" href="/views/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>