/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

:root {
  --primary-color: #363062;
  --secondary-color: #435585;
  --tertiary-color: #818fb4;
  --quaternary-color: #f5e8c7;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Krona One", sans-serif;
  --success: #00c851;
  --warning: #EE9322;
  --danger: #ed553b;
  --info: #20639b;
}

ion-toast {
  font-family: var(--primary-font);
  --color: var(--quaternary-color);
}
ion-toast.custom-toast::part(button) {
  color: var(--quaternary-color);
}
ion-toast.success-toast {
  --background: var(--success);
}
ion-toast.warn-toast {
  --background: var(--warning) !important;
}
ion-toast.error-toast {
  --background: var(--danger) !important;
}
ion-toast.info-toast {
  --background: var(--info) !important;
}
